H1 { text-align: center; font-family: Tahoma, Verdana, Helvetica; font-size: 28px }
H2 { font-family: Tahoma, Verdana, Helvetica; font-size: 24px }
H3 { font-family: Tahoma, Verdana, Helvetica; font-size: 18px }
A { color: #02498B }
A.qindex {}
A.qindexRef {}
A.el { text-decoration: none; font-weight: bold }
A.elRef { font-weight: bold }
A.code { text-decoration: none; font-weight: normal; color: #3A7FC0 }
A.codeRef { font-weight: normal; color: #3A7FC0 }
DL.el { margin-left: -1cm }
DIV.fragment { width: 100%; border: none; padding: 5px; background-color: #eeeeee }
DIV.ah { background-color: #83A5C5; margin-bottom: 5; margin-top: 5 }
TD.md { background-color: #ABC5DE; cellpadding: 15px }
DIV.groupHeader { margin-left: 16; margin-top: 12; margin-bottom: 6; font-weight: bold }
DIV.groupText { margin-left: 16; font-style: italic; font-size: smaller }
FONT.keyword       { color: #0000F0 }
FONT.keywordtype   { color: #0000F0 }
FONT.keywordflow   { color: #0000F0 }
FONT.comment       { color: #008000 }
FONT.preprocessor  { color: #0000F0 }
FONT.stringliteral { color: #800080 }
FONT.charliteral   { color: #800080 }
BODY { font-family: Times; font-size: 13px; line-height: 120% }
P { font-family: Times; font-size: 13px; line-height: 120% }
TABLE { font-family: Tahoma, Verdana, Helvetica; font-size: 13px }


