H1 {font-family: Tahoma, Verdana, Helvetica; font-style: bold; font-size: 28px}
H2 {font-family: Tahoma, Verdana, Helvetica; font-style: bold; font-size: 18px}
H3 {font-family: Tahoma, Verdana, Helvetica; font-style: bold; font-size: 14px}
H4 {font-family: Tahoma, Verdana, Helvetica; font-style: bold; font-size: 12px}
P {font-family: Tahoma, Verdana, Helvetica; font-size: 12px}
LI {font-family: Tahoma, Verdana, Helvetica; font-size: 12px}
UL {font-family: Tahoma, Verdana, Helvetica; font-size: 12px}
BR {font-family: Tahoma, Verdana, Helvetica; font-size: 12px}
A {text-decoration: none; color: #CC7700}
A:active { text-decoration: none }
A:hover { text-decoration: none }
A:link { text-decoration: none }
A:visited { text-decoration: none }
A:visited:hover { text-decoration: none }
